body {
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding-bottom: 30px;
    /* ✅ espaço branco opcional */
    background-color: black;
    color: white;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        /* camada com opacidade */
        url('/img/fundo.jpg');
    background-size: cover;
    background-position: center;
}
.parte1 > .titulo{
    color: #C9F31D;
    font-size: 50px;

}


.parte2 {
    position: relative;
    margin-top: -20px;
    background-color: #2b2e21;
    padding: 40px 20px;
    /* adiciona espaço interno em vez de altura fixa */
    min-height: 700px;
    /* opcional: garante um mínimo */
}

.destaque {
    color: #C9F31D;
      margin-right: 4px;

}
.mensagem {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  color: white; /* ou #fff */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mensagem p {
  margin-bottom: 16px;
  line-height: 1.6;
  font-size: 30px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap; /* Permite quebrar em telas pequenas */
  margin-top: 40px;
}

.cards {
  background-color: #C9F31D;
  color: black;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.cards>.titleCard {
    font-size: 20px;
    font-weight: bold;
    text-transform: none; /* mantém a capitalização manual */
}
.titutlopt2 {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}


.cards>.subtiteCard {
    font-size: 15px;
}

.cards>img {
    width: 80px;
}


.botao {
    display: inline-block;
    background-color: #000;
    color: #C9F31D;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #333;
}


.footer {
    background-color: #C9F31D;
    color: black;
    height: 350px;
    display: flex;
    flex-direction: column; /* empilha os filhos verticalmente */
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
    gap: 20px; /* espaço entre o h2 e o botão */
}
